In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_table("my-dataset/collection.tsv")
queries = pd.read_table("my-dataset/test/queries.txt")
rels = pd.read_table("my-dataset/test/qrels")

In [13]:
queries

   query_id                                 query_text
0   3990512  how can we get concentration onsomething?

In [14]:
rels

    query_id code      doc_id  rel
0    3990512   U0   3990512_1    4
1    3990512   Q0   2036065_1    2
2    3990512   Q0  3265991_12    2
3    3990512   E0   3149758_0    1
4    3990512   Q0   3990512_0    3
5    3990512   Q0   3990512_2    1
6    3990512   Q0   1772359_2    2
7    3990512   Q0   1949736_5    1
8    3990512   Q0   3579785_0    2
9    3990512   Q0   1949736_1    1
10   3990512   Q0   3239083_1    2
11   3990512   Q0   3974525_0    2
12   3990512   Q0   1173778_3    2
13   3990512   Q0   1900286_7    3
14   3990512   Q0   3154563_3    3
15   3990512   Q0   2800339_2    3
16   3990512   Q0   3253458_0    1
17   3990512   Q0    311770_2    3
18   3990512   Q0    332116_1    4
19   3990512   Q0   4359089_0    2
20   3990512   Q0   1173778_0    2
21   3990512   E0   3749223_0    1
22   3990512   Q0   4087614_7    3
23   3990512   Q0    248974_2    1
24   3990512   Q0    667270_1    3
25   3990512   Q0   3916430_1    2
26   3990512   Q0   1182425_0    1
27   3990512   Q0   4452969_1    1
28   3990512   Q0   3538410_2    1
29   3990512   Q0     55529_0    1
30   3990512   Q0   3270641_1    4
31   3990512   Q0   3980621_2    4
32   3990512   Q0   1860702_3    2
33   3990512   Q0   1860702_0    1
34   3990512   Q0   1860702_1    1
35   3990512   Q0   3656872_7    1

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [55]:
tfidf = TfidfVectorizer(stop_words='english', analyzer="word")

In [17]:
tfidf

TfidfVectorizer(stop_words='english')

In [18]:
df['doc_text']

0     Try blocking the distractions as much as possi...
1     For one thing, focus on what you want to achie...
2     sorry.... i don't know the answer. . But if yo...
3     Yahoo Answers improves concentration of the mi...
4     Get lots of restful sleep.  Poor concentration...
                            ...
67    It might be harder for concentration..you will...
68    If the mole of HCl is unkonwn, u ll need a pH ...
69                          concentration = mole/volume
70    both substance passing from a region of high c...
71    O = the concentration of salt in the ocean.. S...
Name: doc_text, Length: 72, dtype: object

In [56]:
tfidf_matrix = tfidf.fit_transform(df['doc_text'])

In [20]:
tfidf_matrix

<72x308 sparse matrix of type '<class 'numpy.float64'>'
	with 972 stored elements in Compressed Sparse Row format>

In [21]:
np.matrix(tfidf_matrix)

matrix([[<72x308 sparse matrix of type '<class 'numpy.float64'>'
         	with 972 stored elements in Compressed Sparse Row format>]],
       dtype=object)

In [25]:
tfidfshow = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())

In [26]:
tfidfshow

,157,1x10,a0425369,acceptable,achieve,acid,active,add,adding,adenosine,...,volume,walls,want,water,way,work,www,yahoo,yes,yoga
0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.229541,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.229541,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0
2,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.303804,0.0,0.0
4,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0
68,0.0,0.0,0.0,0.0,0.000000,0.148568,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0
69,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.692983,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0
70,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.143990,0.0,0.0,0.0,0.000000,0.0,0.0
71,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.156045,0.0,0.0,0.0,0.000000,0.0,0.0

In [295]:
my_query = ["how can we get concentration onsomething?"]
query_tfidf_matrix = tfidf.fit_transform(my_query)
np.matrix(query_tfidf_matrix)
query_tfidfshow = pd.DataFrame(query_tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out(my_query))
query_tfidfshow

   concentration  onsomething
0       0.707107     0.707107

In [30]:
feature_names = list(tfidf.get_feature_names_out())
feature_names

['157',
 '1x10',
 'a0425369',
 'acceptable',
 'achieve',
 'acid',
 'active',
 'add',
 'adding',
 'adenosine',
 'adh',
 'affect',
 'affects',
 'aid',
 'aldosterone',
 'answer',
 'answers',
 'ant',
 'apnea',
 'area',
 'aren',
 'ask',
 'assisted',
 'atp',
 'attempt',
 'automatically',
 'best',
 'biol',
 'biology',
 'block',
 'blocking',
 'blood',
 'bloody',
 'brain',
 'bring',
 'buret',
 'bursting',
 'calculated',
 'causes',
 'causing',
 'cell',
 'cells',
 'certain',
 'chances',
 'change',
 'chem',
 'childish',
 'com',
 'come',
 'common',
 'compared',
 'completely',
 'concentrate',
 'concentration',
 'concentrations',
 'concentrtion',
 'consequently',
 'constituents',
 'contain',
 'contains',
 'continues',
 'corrosive',
 'cytoplasm',
 'day',
 'days',
 'death',
 'density',
 'destructive',
 'detect',
 'detector',
 'determine',
 'determines',
 'difference',
 'differences',
 'diffuses',
 'diffusion',
 'diluting',
 'directly',
 'discipline',
 'disorders',
 'dissolved',
 'distilled',
 'distractions',
 'does',
 'doing',
 'don',
 'drug',
 'electrolyte',
 'eliminate',
 'energy',
 'enjoy',
 'enviroment',
 'environment',
 'equal',
 'equalize',
 'equals',
 'especially',
 'evapourate',
 'example',
 'exercising',
 'exosmosis',
 'expansion',
 'explode',
 'expressed',
 'external',
 'extra',
 'facilitated',
 'factmonster',
 'fail',
 'filters',
 'fine',
 'firboats',
 'flow',
 'focus',
 'focusing',
 'follow',
 'form',
 'formula',
 'getting',
 'given',
 'giving',
 'glass',
 'goes',
 'going',
 'good',
 'gradient',
 'greater',
 'hair',
 'hand',
 'harder',
 'harming',
 'hcl',
 'heat',
 'help',
 'hey',
 'high',
 'higher',
 'hormone',
 'hot',
 'hours',
 'html',
 'http',
 'hydrogen',
 'hypertonic',
 'hypotonic',
 'identical',
 'improve',
 'improves',
 'increase',
 'information',
 'inside',
 'insides',
 'involves',
 'ipd',
 'isotonic',
 'job',
 'just',
 'kill',
 'kind',
 'know',
 'lack',
 'lead',
 'leading',
 'leads',
 'left',
 'lesser',
 'level',
 'life',
 'like',
 'link',
 'liquids',
 'll',
 'log',
 'look',
 'lots',
 'low',
 'lower',
 'luck',
 'making',
 'matched',
 'means',
 'meditation',
 'membrance',
 'membrane',
 'meter',
 'migration',
 'mind',
 'mixing',
 'mm',
 'molarity',
 'mole',
 'molecules',
 'moment',
 'moved',
 'movement',
 'naoh',
 'need',
 'negative',
 'net',
 'ocean',
 'opposed',
 'osmolarity',
 'osmosis',
 'osmotic',
 'outside',
 'overall',
 'packed',
 'partially',
 'particles',
 'pass',
 'passing',
 'patient',
 'pattern',
 'permeable',
 'ph',
 'phosphate',
 'phrased',
 'physical',
 'physiological',
 'place',
 'plant',
 'poor',
 'possible',
 'potassium',
 'powder',
 'practice',
 'pressure',
 'protien',
 'questions',
 'ratio',
 'region',
 'reguire',
 'regulates',
 'requires',
 'restful',
 'result',
 'rinse',
 'rinsed',
 'rises',
 'rupture',
 'salt',
 'saltwater',
 'say',
 'scalding',
 'sea',
 'selectively',
 'semi',
 'seminar',
 'significant',
 'similar',
 'simply',
 'sitting',
 'situation',
 'sleep',
 'sleepiness',
 'soap',
 'solute',
 'solutes',
 'solution',
 'sorry',
 'space',
 'sped',
 'spread',
 'stamping',
 'strong',
 'student',
 'studies',
 'stuff',
 'substance',
 'substances',
 'summary',
 'sun',
 'suppose',
 'supposed',
 'surrounding',
 'sweet',
 'swelling',
 'taking',
 'tansport',
 'taught',
 'test',
 'thing',
 'things',
 'training',
 'transfusions',
 'transport',
 'tri',
 'try',
 'typically',
 'understanding',
 'uninterrupted',
 'unkonwn',
 'urine',
 'used',
 'using',
 'usually',
 'vessel',
 'vital',
 'volume',
 'walls',
 'want',
 'water',
 'way',
 'work',
 'www',
 'yahoo',
 'yes',
 'yoga']

In [31]:
# Import linear_kernel


# Compute the cosine similarity matrix
# cosine_sim = cosine_similarity(query_tfidf_matrix, tfidf_matrix)
# tfidf_matrix.shape, (query_tfidf_matrix.reshape(403458, 3)).shape
# arr = tfidf_matrix.
# arr = tfidf.get_feature_names_out(my_query)
# arr = list(tfidf.get_feature_names_out(my_query))

arr = [0] * len(feature_names)
arr[feature_names.index("concentration")] = 0.707107
# arr[feature_names.index("onsomething")] = 0.707107
arr
#document: ["potato", "sheep", "cow", "brother", "plate", "concentration", "kitchen", "saddam", "keyboard", "onsomething"]
#             [0, 1, 0.2, 0.2, 0.2, 0, 1, 0.3, 0.2, 0.2]
#query:     [0, 0, 0, 1, 0.2, 0, 0.3, ...]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0.707107,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [48]:
query_matrix = [arr]*72
# len(query_matrix[1])
# np.matrix(query_matrix)

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [112]:
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
cos_sim = linear_kernel(query_matrix, tfidf_matrix)

In [139]:
cos_sim_show = pd.DataFrame(cos_sim, columns=df['doc_id'])
cos_sim_show

doc_id,3990512_0,3990512_1,3990512_2,3980621_2,332116_1,3154563_3,667270_1,3149758_0,3239083_1,248974_2,...,1182425_0,2800339_2,311770_2,4359089_0,3538410_2,1900286_7,1173778_0,1173778_3,3916430_1,1772359_2
0,0.0,0.081805,0.0,0.054135,0.048798,0.095884,0.108442,0.20288,0.055629,0.228522,...,0.090997,0.025442,0.07683,0.080993,0.089169,0.081041,0.099541,0.14062,0.107844,0.175309
1,0.0,0.081805,0.0,0.054135,0.048798,0.095884,0.108442,0.20288,0.055629,0.228522,...,0.090997,0.025442,0.07683,0.080993,0.089169,0.081041,0.099541,0.14062,0.107844,0.175309
2,0.0,0.081805,0.0,0.054135,0.048798,0.095884,0.108442,0.20288,0.055629,0.228522,...,0.090997,0.025442,0.07683,0.080993,0.089169,0.081041,0.099541,0.14062,0.107844,0.175309
3,0.0,0.081805,0.0,0.054135,0.048798,0.095884,0.108442,0.20288,0.055629,0.228522,...,0.090997,0.025442,0.07683,0.080993,0.089169,0.081041,0.099541,0.14062,0.107844,0.175309
4,0.0,0.081805,0.0,0.054135,0.048798,0.095884,0.108442,0.20288,0.055629,0.228522,...,0.090997,0.025442,0.07683,0.080993,0.089169,0.081041,0.099541,0.14062,0.107844,0.175309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,0.0,0.081805,0.0,0.054135,0.048798,0.095884,0.108442,0.20288,0.055629,0.228522,...,0.090997,0.025442,0.07683,0.080993,0.089169,0.081041,0.099541,0.14062,0.107844,0.175309
68,0.0,0.081805,0.0,0.054135,0.048798,0.095884,0.108442,0.20288,0.055629,0.228522,...,0.090997,0.025442,0.07683,0.080993,0.089169,0.081041,0.099541,0.14062,0.107844,0.175309
69,0.0,0.081805,0.0,0.054135,0.048798,0.095884,0.108442,0.20288,0.055629,0.228522,...,0.090997,0.025442,0.07683,0.080993,0.089169,0.081041,0.099541,0.14062,0.107844,0.175309
70,0.0,0.081805,0.0,0.054135,0.048798,0.095884,0.108442,0.20288,0.055629,0.228522,...,0.090997,0.025442,0.07683,0.080993,0.089169,0.081041,0.099541,0.14062,0.107844,0.175309
71,0.0,0.081805,0.0,0.054135,0.048798,0.095884,0.108442,0.20288,0.055629,0.228522,...,0.090997,0.025442,0.07683,0.080993,0.089169,0.081041,0.099541,0.14062,0.107844,0.175309

In [132]:
result = {df["doc_id"][i]: cos_sim[0][i] for i in range (len(cos_sim[0]))}

In [140]:
sorted(result.items(), key=lambda e:e[1], reverse=True)

[('3265991_12', 0.707107),
 ('248974_2', 0.2285217689555974),
 ('3149758_0', 0.20287961250902156),
 ('2036065_1', 0.19504790336840114),
 ('1772359_2', 0.17530912545668717),
 ('3579785_0', 0.15781005286912214),
 ('1949736_5', 0.15568640484874033),
 ('3974525_0', 0.14360689591959713),
 ('1173778_3', 0.14062049036764443),
 ('4087614_7', 0.13666311492805835),
 ('1949736_1', 0.13495561628411154),
 ('667270_1', 0.10844229397077115),
 ('3916430_1', 0.10784428460314065),
 ('3270641_1', 0.10541544457640918),
 ('3656872_7', 0.10484532202393278),
 ('1860702_0', 0.1024961888588117),
 ('1173778_0', 0.09954132795132055),
 ('3154563_3', 0.09588439928416764),
 ('3749223_0', 0.09220323131146237),
 ('1182425_0', 0.09099692343949),
 ('3538410_2', 0.08916878899234887),
 ('4452969_1', 0.08334562265048205),
 ('3990512_1', 0.08180486666143859),
 ('1900286_7', 0.08104141983349379),
 ('4359089_0', 0.08099337171690948),
 ('311770_2', 0.07683016898599446),
 ('3253458_0', 0.07508963694184605),
 ('55529_0', 0.07007915288349251),
 ('1860702_1', 0.06567683869492408),
 ('1860702_3', 0.06470740668801547),
 ('3239083_1', 0.05562875323735885),
 ('3980621_2', 0.05413543913889726),
 ('332116_1', 0.0487984210146521),
 ('2800339_2', 0.025442248896382986),
 ('3990512_0', 0.0),
 ('3990512_2', 0.0)]